[Unit]
Description=Run Prism MySQL backup every day

[Timer]
OnCalendar=*-*-* 02:15:00
RandomizedDelaySec=15m
Persistent=true
Unit=prism-backup.service

[Install]
WantedBy=timers.target
